/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }
/* end workaround */

body, html {
    background-color: #9BBABB;
}

.buttons-container {
    padding: 10px;
}

.buttons-element {
    margin-right: 5px;
}
