/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }
/* end workaround */

body, html {
    background-color: #9BBABB;
}

.buttons-container {
    padding: 10px;
}

.buttons-element {
    margin-right: 5px;
}

.re-console-container {
    overflow-y: scroll;
    padding: 10px;
    height: 400px;
    margin: 0 0;
    border-radius: 10px;
    background-color: #EEE;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.re-console .CodeMirror {
    height: auto;
    font-size: 13px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    margin-bottom: 20px;
}

.re-console .CodeMirror-code {
    background-color: #EEE;
}

.re-console-item, .re-console-item pre, .re-console-item-error pre {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
    opacity: 0.7;
}

.re-console-item-error {
    color: #e60000;
}

.re-console .CodeMirror-lines, .re-console .CodeMirror pre {
    padding: 0;
}
