$background-color: #FFF;
$font-size: 15px;
$font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

/* For status bar a the bottom *inside* see
   http://jsfiddle.net/AwH9S/ */
/* .re-console-wrapper { */
/*     position: relative; */
/* } */

.re-console-container {
    background-color: $background-color;
    overflow-y: scroll;
    height: 400px;
    padding: 10px;
    margin: 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.re-console {

    .CodeMirror {
        height: auto;
        font-size: $font-size;
        font-family: $font-family;
        margin-bottom: 20px;
    }

    .CodeMirror-code {
        background-color: $background-color;
    }
}

.re-console .CodeMirror-lines, .re-console .CodeMirror pre {
    padding: 0;
}

.re-console-item, .re-console-item pre, .re-console-item-error pre {
    font-family: $font-family;
    font-size: $font-size;
    opacity: 0.7;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

.re-console-item-error {
    color: #e60000;
}

.re-console-status {
    font-family: $font-family;
    font-size: $font-size;
    background-color: #AAA;
    color: white;
    padding: 5px;
    /* opacity: 0.8; */
    /* width: 100%; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left:0; */
    margin: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

